<html>
<body>
<h1>NGINX on {{ ansible_hostname }}</h1>

<pre>
  Running on {{ ansible_hostname }}

  Distribution {{ ansible_distribution }}
  Family {{ ansible_distribution_file_variety }}
</pre>
</body>
</html>